{% extends 'base.html.twig' %}

{% form_theme formArticle 'bootstrap_4_layout.html.twig' %}

{% block body %}
    {% if editMode %}
        <h1>Editer l'article</h1>
    {% else %}
        <h1>Création d'un article</h1>
    {% endif %}

    {{ form_start(formArticle) }} {# Affiche la balise ouvrante du formulaire avec bonne méthode et bonne action #}

    {#{{ form_error(formArticle.title) }} pour mettre en page les messages d'erreur dans le formulaire, voir documentation #}
    {{ form_row(formArticle.title, {'attr': {'placeholder':"Titre de l'article"}}) }} {# Twig : les templates : créer des templates de forms pour décider leur affichage #}
    {{ form_row(formArticle.content, {'attr': {'placeholder':"Contenu de l'article"}}) }} {# Twig : tableaux associatifs : on les écrit comme des objets en JS, c'est du json #}
    {{ form_row(formArticle.image, {'attr': {'placeholder':"URL de l'article"}}) }}

    <button type="submit" class="btn btn-sucess">
        {% if editMode %}
            Enregistrer les modifications
        {% else %}
            Ajouter l'article
        {% endif %}
    </button>

    {{ form_end(formArticle) }} {# on préfère garder le form_start et form_end pour pouvoir ajouter des choses dans cette vue #}

{% endblock %}